.md-tabs {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    display: block;
    line-height: 1.3;
    overflow: auto;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0 .2rem #0000001a, 0 .2rem .4rem #0003;
    transition: transform .25s cubic-bezier(.1, .7, .1, 1), box-shadow .25s;
}